
  p.leader {
    text-align: center;
    max-width: 90%;
    margin: auto;
    margin-bottom: 45px;
  }
  
  .demo-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .demo-card {
    position: relative;
    display: block;
    margin: 10px;
    max-width: 300px;
    height: 300px;
    width: 100%;
    background: white;
    border: 1px solid rgba(191, 191, 191, 0.4);
    box-shadow: 0 1px 22px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    font-size: 12px;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
 
  .demo-card:hover {
    transform: scale(1.05) rotate(2deg); 
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2); 
    cursor: pointer;

  }
  .demo-card:hover .head{
    background: #11343c !important;
    transition: 0.8s;
  }
  
  .head {
    display: flex;
    align-items: center;
    padding: 10px;
    background: #11343c;
    color: white;
  }
  
  .number-box {
    margin-right: 10px;
    background: rgba(0, 0, 0, 0.17);
    padding: 10px;
    border-radius: 50%;
    font-size: 20px;
  }
  
  .work-clients {
    padding: 15px;
  }
  
 
  .work-clients img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s;
  }
  
  .work-clients img:hover {
    transform: scale(1.1); 
  }
  
.parallax-three-t {
 
  background: -webkit-linear-gradient(45deg, #ffffff, #ffffff); /* Bubble background gradient */
  position: relative;
  overflow: hidden;
 

}

/* Bubbles animation */
.bg-bubbles-three-t {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.bg-bubbles-three-t li {
  position: absolute;
  list-style: none;
  display: block;
  width: 20px;
  height: 20px;
  background-color: rgba(155, 187, 230, 0.15);
  bottom: -160px;

  animation: square 20s infinite;
  transition-timing-function: linear;
}

.bg-bubbles-three-t li:nth-child(1) {
  left: 10%;
}
.bg-bubbles-three-t  li:nth-child(2) {
  left: 20%;
  width: 50px;
  height: 50px;
  animation-delay: 2s;
  animation-duration: 17s;
}
.bg-bubbles-three-t li:nth-child(3) {
  left: 25%;
  animation-delay: 4s;
}
.bg-bubbles-three-t li:nth-child(4) {
  left: 40%;
  width: 30px;
  height: 30px;
  animation-duration: 22s;
}
.bg-bubbles-three-t li:nth-child(5) {
  left: 70%;
}
.bg-bubbles-three-t li:nth-child(6) {
  left: 80%;
  width: 40px;
  height: 40px;
  animation-delay: 3s;
}
.bg-bubbles-three-t li:nth-child(7) {
  left: 32%;
  width: 50px;
  height: 50px;
  animation-delay: 7s;
}
.bg-bubbles-three-t li:nth-child(8) {
  left: 55%;
  width: 20px;
  height: 20px;
  animation-delay: 15s;
  animation-duration: 40s;
}
.bg-bubbles-three-t li:nth-child(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  animation-delay: 2s;
  animation-duration: 40s;
}
.bg-bubbles-three-t li:nth-child(10) {
  left: 90%;
  width: 30px;
  height: 30px;
  animation-delay: 11s;
}

@keyframes square {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-500px) rotate(600deg);
  }
}
