.circle-container {
    position: relative;
    width: 100%;
    max-width: 600px; /* Adjust to your layout */
    margin: 0 auto;
  }
  
  .circle {
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .circle img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .circle-1 {
    width: 350px;
    height: 350px;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
  }
  .circle-1 img{
    width: 350px;
    height: 350px;
  }
  
  .circle-2 {
    width: 200px;
    height: 200px;
    top: 120px;
    left: 7%;
  }
  .circle-2 img{
    width: 200px;
    height: 200px;
  }
  
  .circle-3 {
    width: 230px;
    height: 230px;
    top: 180px;
    right: 20%;
  }
  .circle-3 img{
    width: 230px;
    height: 230px;
  }

  @media screen and (max-width:768px) and (min-width:425px) {
    .contact-us-home{
   margin-top: 300px;

    }
  }

  @media screen and (max-width:426px) {
    .circle-container{
      margin-top: 50px;
    }
    .contact-us-home{
      margin-top: 300px;
    }
    .circle-3 {
      width: 230px;
      height: 230px;
      top: 180px;
      right: 2%;
    }
  }

  @media screen and (max-width:376px) {
.contact-us-home{
  margin-top: 300px;
}
.circle-3 {
  width: 230px;
  height: 230px;
  top: 180px;
  right: 2%;
}
  }