.btn-1 {
    position: relative;
    display: inline-block;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 4px;
    text-decoration: none !important;
  
  }
  
  .btn-1:hover {
    background: transparent;
    
 
  }
  Link{
    text-decoration: none !important;
  }
  .btn-1 span {
    position: absolute;
    display: block;
  }
  
  .btn-1 span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #FFD700);
    transition: 1s;
  }
  
  .btn-1:hover span:nth-child(1) {
    left: 100%;
  }
  
  .btn-1 span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #FFD700);
    transition: 1s;
    transition-delay: 0.25s;
  }
  
  .btn-1:hover span:nth-child(2) {
    top: 100%;
  }
  
  .btn-1 span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #FFD700);
    transition: 1s;
    transition-delay: 0.5s;
  }
  
  .btn-1:hover span:nth-child(3) {
    right: 100%;
  }
  
  .btn-1 span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #FFD700);
    transition: 1s;
    transition-delay: 0.75s;
  }
  
  .btn-1:hover span:nth-child(4) {
    bottom: 100%;
  }
  
.link-nav-agnee{
color:  #e8d671;

 font-family: "Merienda", cursive;
  font-optical-sizing: auto;
 font-size: 17px;
  font-style: normal;


  }
.link-nav-agnee:hover{
color:  #ede9d4;
transition: 1s;

   font-family: "Merienda", cursive;
  font-optical-sizing: auto;

  font-style: normal;


}
